@import "susy";

@include border-box-sizing;

$total-columns  : 7; //default number of columns for the smallest display in your layout
$column-width   : 4em;
$gutter-width   : 1em;
$grid-padding   : $gutter-width; //padding on L/R of container grid
$computer       : 12; //when a screen can fit 12 columns

article {
  background:yellow;  
  div.project {
      @include container($total-columns, $computer);  
      // @include susy-grid-background;
      @include at-breakpoint($computer)  {
        // @include susy-grid-background;
      }
  }
}

// BIG SCREEN STYLING Styling
@include at-breakpoint($computer) { 
  article {
    div.project {
      
    }
  } 
}  

// .main {
//   @include container($total-columns, $break);
//   //@include susy-grid-background;
// }

// @include at-breakpoint($break) {
//   .main {
//     //@include susy-grid-background;
//   }
// }