@import 'bourbon';

.delay {
  @include animation-delay(1s);
}

.delay-one {
  @include animation-delay(0.1s);
}

.delay-two {
  @include animation-delay(0.2s);
}

.scaleHide {
  display: none !important;
}

.twinkle {
  @include animation(twinkly 1s alternate infinite);
}

.shake {
  @include animation(shakey 0.15s linear alternate 5);
}

.shakeinfinte {
  @include animation(shakey 0.50s linear alternate infinite);
}

.jump {
  @include animation(jump 0.3s linear alternate 1);
}

.jumpy {
  visibility: visible;
  @include animation(jumpy 0.5s linear alternate 3);
}

.introOut {
  // z-index: -1;
  @include animation(introOut 0.2s linear forwards 1);
}

.scaleInBig {
  z-index: 1 !important;
  @include transform-origin(center top);
  @include transform(scale(3));
  @include animation(scaleInBig 0.7s ease forwards 1);
}

.scaleSmall {
  @include animation(scaleSmall 0.3s ease forwards 1);
}

.worldsend {
  @include transform-origin(right bottom);
  @include perspective(300px);
  @include animation(worldsend 1s ease forwards 1);
}

.blowUp {
  @include animation(blowUp 0.2s ease forwards 1);
}

.scaleOutRotate {
  @include animation(scaleOutRotate 0.8s linear forwards 1);
}

.scaleBig, .scaleInMenu, .scaleOut, .scaleOutIn, .slideUp, .slideDown, .slideRight, .slideLeft, .scaleUp, .scaleDown, .scaleInSevenFive, .scaleOutSevenFive {
  @include animation-duration(0.3s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
}

.scaleInMenu {
  @include animation-duration(0.2s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
}

.scaleUp {
  @include animation-duration(0.2s)
}

.rotated, .scaleIn, .fadeIn, .slideIn, .mainmenu.opencontact, .contact.opencontact,.mainmenu.closecontact, .contact.closecontact, .overlay.openmenu, .fadeOut {
  @include animation-duration(0.5s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
}

.slideOutProject, .slideInProject, .slowFadeIn {
  @include animation-duration(1s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
}

.fadeInSlide, .fadeInSlideT, .fadeInSlideR, .fadeInSlideL {
  @include animation-duration(0.4s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
  opacity: 0;
  visibility: visible;
}

.fadeInSlideL {
  @include animation-name(fadeInSlideL);
}

.fadeInSlideR {
  @include animation-name(fadeInSlideR);
}

.fadeInSlideT {
  @include animation-name(fadeInSlideT);
}

.fadeInSlide {
  @include animation-name(fadeInSlide);
}

.no-csstransforms3d .slideOutProject {
  @include animation-name(slideOutProject);
}

.csstransforms3d .slideOutProject {
  @include animation-name(slideOutProject-3d);
}

.scaleInSevenFive {
  @include animation-name(scaleInSevenFive);
}

.scaleOutSevenFive {
  @include animation-name(scaleOutSevenFive);
}

.eyeButton {
   .scaleInSevenFive, .scaleInSevenFive {
    @include transform-origin(center center);
   }
}

span.scaleInSevenFive, span.scaleOutSevenFive {
  @include transform-origin(right top);
}

html.touch body .fastAni {
  @include animation-duration(0.2s);
}

html.touch .slideOutProject {
  position: fixed !important;
  width: 100% !important;
}

.slideInProject {
  display: block !important;
}

.no-csstransforms3d .slideInProject {
  @include animation-name(slideInProject);
}

.csstransforms3d .slideInProject {
  @include animation-name(slideInProject-3d);
}

.scaleBig {
  @include animation-name(scaleBig);
}

.scaleOut{
  @include animation-name(scaleOut);
}

.scaleOutIn {
  @include animation-name(scaleOutIn);
}

.scaleIn, .scaleInMenu {
  @include transform(scale(0));
  @include animation-name(scaleIn);
}

.rotated {
  @include transform(scale(0));
}

.scaleInMenu {
  @include transform-origin(right top);
}

.fadeIn, .slowFadeIn {
  display: block;
  opacity: 0;
  @include animation-name(fadeIn);
}

.fadeOut {
  @include animation-name(fadeOut);
}

.slideIn {
  @include animation-name(slideIn);
}

.slideUp {
  @include animation-name(slideUp);
}

.slideDown {
  @include animation-name(slideDown);
}

.slideLeft {
  @include animation-name(slideLeft);
}

.slideRight {
  @include animation-name(slideRight);
}

.scaleUp {
  @include animation-name(scaleUp);
  @include transform-origin(center top);
}

.scaleDown {
  @include animation-name(scaleDown);
  @include transform-origin(center top);
}

.rotatefive {
  @include animation-name(rotatefive);
}

.rotatenegfive {
  @include animation-name(rotatenegfive);
}

.rotateonefive {
  @include animation-name(rotateonefive);
}

.rotateonenegfive {
  @include animation-name(rotateonenegfive);
}

.rotatefourfive {
  @include animation-name(rotatefourfive);
}

.rotatenegfourfive {
  @include animation-name(rotatenegfourfive);
}

.rotateninezero {
  @include animation-name(rotateninezero);
}

.rotatenegninezero {
  @include animation-name(rotatenegninezero);
}

// Open Contact

.no-csstransforms3d .contact.opencontact {
  @include animation-name(slidedown);
}

.csstransforms3d .contact.opencontact {
  @include animation-name(slidedown-3d);
}

.no-csstransforms3d .mainmenu.opencontact, .no-csstransforms3d {
  @include animation-name(slideup);
}

.csstransforms3d .mainmenu.opencontact, .csstransforms3d {
  @include animation-name(slideup-3d);
}

.contact.opencontact {
  position: absolute !important;
  overflow-x: scroll;
  @include at-breakpoint($tablet) {
    overflow-x: visible;
  }
  top:0;
}

// Close Contact

.no-csstransforms3d .contact.closecontact {
  @include animation-name(slideup);
}

.csstransforms3d .contact.closecontact {
  @include animation-name(slideup-3d);
}

.no-csstransforms3d .mainmenu.closecontact {
  @include animation-name(slidedown);
}

.csstransforms3d .mainmenu.closecontact {
  @include animation-name(slidedown-3d);
}

.mainmenu.closecontact, .contact.closecontact {
  top:0;
}

// Open Menu

.no-csstransforms3d .overlay.openmenu {
  @include animation-name(slidedown);
}

.csstransforms3d .overlay.openmenu {
  @include animation-name(slidedown-3d);
}

.overlay.openmenu {
  top:0;
}

.no-csstransforms3d .main.openmenu {
  @include animation-name(openmenu-main);
}

.csstransforms3d .main.openmenu {
  @include animation-name(openmenu-main-3d);
}

.main.openmenu {
  @include animation-duration(0.5s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
}

//Close Menu

.no-csstransforms3d .overlay.closemenu {
  @include animation-name(slideup);
}

.csstransforms3d .overlay.closemenu {
  @include animation-name(slideup-3d);
}

.overlay.closemenu {
  top:0;
  @include animation-duration(0.75s);
  @include animation-timing-function(ease);
  @include animation-iteration-count(1);
  @include animation-fill-mode(forwards);
}

html {
  .navCounters {
    ul {
      li {
        a {
          i.scaleOutSevenFive {
            display: none ;
          }
          i.scaleInSevenFive {
            display: inline-block;
          }
          + span.showArrow {
            display: table !important;
          }
          + span.hideArrow {
            display: none;
          }
        }
      } 
    }
  }
}

// CHANGE FOR TOUCH DEBUG - DONE
html.no-touch {
  .filterMenu {
    i.scaleOutSevenFive {
      display: none ;
    }
    i.scaleInSevenFive {
      display: inline-block;
    }
    &:hover {
      i.scaleOutSevenFive {
      display: inline-block;
      }
      i.scaleInSevenFive {
        display: none;
      }
    }
  }
}

// CHANGE FOR TOUCH DEBUG - DONE
html.touch {
  .filterMenu {
    i.scaleOutSevenFive {
      display: none ;
    }
    i.scaleInSevenFive {
      display: inline-block;
    }
  }
}

// CHANGE FOR TOUCH DEBUG - DONE
html.no-touch {
  .navCounters {
    ul {
      li {
        a:hover {
          i.scaleOutSevenFive {
            display: inline-block;
          }
          i.scaleInSevenFive {
            display: none;
          }
          + span.hideArrow {
            display: table !important;
          }
        }
      }
      li.active {
        a:hover {
          i.scaleOutSevenFive {
            display: none;
          }
          i.scaleInSevenFive {
            display: inline-block;
          }
          + span.arrow-tab {
            display: none !important;
          }
        }
      }
    }
  }
  ul.filterMenu {
    li {
      a {
        span.scaleOutSevenFive {
          display: none;
        }
        span.scaleInSevenFive {
          display: block;
        }
      }
      a:hover {
        span.scaleOutSevenFive {
          display: block;
        }
        span.scaleInSevenFive {
          display: none;
        }
      }
    }
    li.active {
      a:hover {
        span.scaleOutSevenFive {
          display: none;
        }
        span.scaleInSevenFive {
          display: block;
        }
      }
    }
  }
}

// CHANGE FOR TOUCH DEBUG - DONE
html.touch {
  ul.filterMenu {
    li {
      a {
        span.scaleOutSevenFive {
          display: none;
        }
        span.scaleInSevenFive {
          display: block;
        }
      }
    }
    li.active {
      a:hover {
        span.scaleOutSevenFive {
          display: none;
        }
        span.scaleInSevenFive {
          display: block;
        }
      }
    }
  }
}

@include keyframes(twinkly) {
  0%   { opacity: 0.3; }
  100% { opacity: 1; }
}

@include keyframes(shakey) {
  0%   { @include transform(rotate(-10deg)); }
  100% { @include transform(rotate(10deg)); }
}

@include keyframes(jump) {
  0%   { @include transform(translate3d(0px,0%,0px)); }
  33%   { @include transform(translate3d(0px,5%,0px)); }
  66%   { @include transform(translate3d(0px,-5%,0px)); }
  100% { @include transform(translate3d(0px,0%,0px)); }
}

@include keyframes(jumpy) {
  0%   { @include transform(translate3d(0px,0%,0px)); }
  50% { @include transform(translate3d(0px,-10%,0px)); }
  100% { @include transform(translate3d(0px,0%,0px)); }
}

@include keyframes(worldsend) {
  0%   { @include transform(rotate3d(1,0,0,0deg)); }
  100% { @include transform(rotate3d(1,0,0,90deg)); }
}

@include keyframes(slideInProject) {
  from {
     top: 100%;
  }
  to {
     top: 0%;
  }
}

@include keyframes(slideInProject-3d) {
  from {
     @include transform(translate3d(0px,200%,0px));
  }
  to {
     @include transform(translate3d(0px,0%,0px));
  }
}

@include keyframes(slideOutProject) {
  from {
     top: 0%;
  }
  to {
     top: -100%;
  }
}

@include keyframes(slideOutProject-3d) {
  from {
     @include transform(translate3d(0px,0%,0px));
  }
  to {
     @include transform(translate3d(0px,-100%,0px));
  }
}

@include keyframes(slidedown) {
  from {
     top: 200%;
  }
  to {
     top: 0%;
  }
}

@include keyframes(slidedown-3d) {
  from {
     @include transform(translate3d(0px,200%,0px));
  }
  to {
     @include transform(translate3d(0px,0%,0px));
  }
}

@include keyframes(openmenu-main) {
  from {
     top: 0;
  }
  to {
     top: -100px;
  }
}

@include keyframes(openmenu-main-3d) {
  from {
     @include transform(translate3d(0px,0px,0px));
  }
  to {
     @include transform(translate3d(0px,-100px,0px));
  }
}

@include keyframes(slideup) {
  from {
     top: 0%;
  }
  to {
     top: 200%;
  }
}

@include keyframes(slideup-3d) {
  from {
     @include transform(translate3d(0px,0%,0px));
  }
  to {
     @include transform(translate3d(0px,200%,0px));
  }
}

@include keyframes(slideIn) {
  from {
    right: 25px;
  }
  to {
    right: 0px;
  }
}

@include keyframes(slideInRight) {
  from {
    right: -75%;
  }
  to {
    right: 0%;
  }
}

@include keyframes(fadeIn) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include keyframes(fadeOut) {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@include keyframes(scaleOut) {
  0% {
    @include transform(scale(1));
  }
  30% {
    @include transform(scale(1.50));
  }
  100% {
    @include transform(scale(0));
  }
}

@include keyframes(introOut) {
  0% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(0.5));
  }
}

@include keyframes(scaleOutRotate) {
  0% {
    @include transform(scale(1) rotate(0deg));
  }
  50% {
    @include transform(scale(0.5) rotate(180deg));
  }
  100% {
    @include transform(scale(0) rotate(360deg));
  }
}

@include keyframes(scaleOutSevenFive) {
  0% {
    @include transform(scale(1));
  }
  100% {
    @include transform(scale(0.75));
  }
}

@include keyframes(scaleInSevenFive) {
  0% {
    @include transform(scale(0.75));
  }
  100% {
    @include transform(scale(1));
  }
}

@include keyframes(scaleInfoIn) {
  from {
    @include transform(scale(0.5));
    // opacity: 1;
  }
  to {
    @include transform(scale(1));
  }
}

@include keyframes(scaleOutIn) {
  0% {
    @include transform(scale(0));
    // opacity: 1;
  }
  50% {
    @include transform(scale(1.15));
  }
  100% {
    @include transform(scale(1));
  }
}

@include keyframes(scaleIn) {
  from {
    @include transform(scale(0));
  }
  to {
    @include transform(scale(1));
  }
}

@include keyframes(scaleInBig) {
  0% {
    opacity: 0;
    @include transform(scale(3));
  }
  100% {
    opacity: 1;
    @include transform(scale(1));
  }
}

// 0% {
//     @include transform(scale3d(3,3,1));
//   }
//   100% {
//     @include transform(scale3d(1,3,1));

@include keyframes(slideUp) {
  from {
     @include transform(translate3d(0px,0%,0px));
  }
  to {
     @include transform(translate3d(0px,-100%,0px));
  }
}

@include keyframes(slideDown) {
  from {
     @include transform(translate3d(0px,-100%,0px));
  }
  to {
     @include transform(translate3d(0px,0%,0px));
  }
}

@include keyframes(slideRight) {
  from {
     @include transform(translate3d(0%,0%,0px));
  }
  to {
     @include transform(translate3d(100%,0%,0px));
  }
}

@include keyframes(slideLeft) {
  from {
     @include transform(translate3d(100%,0%,0px));
  }
  to {
     @include transform(translate3d(0%,0%,0px));
  }
}

@include keyframes(fadeInSlide) {
  from {
     @include transform(translate3d(0px,50%,0px));
     opacity: 0;
  }
  to {
     @include transform(translate3d(0px,0%,0px));
     opacity: 1;
  }
}

@include keyframes(fadeInSlideR) {
  from {
     @include transform(translate3d(50%,0px,0px));
     opacity: 0;
  }
  to {
     @include transform(translate3d(0%,0px,0px));
     opacity: 1;
  }
}

@include keyframes(fadeInSlideL) {
  from {
     @include transform(translate3d(-50%,0px,0px));
     opacity: 0;
  }
  to {
     @include transform(translate3d(0%,0px,0px));
     opacity: 1;
  }
}

@include keyframes(fadeInSlideT) {
  from {
     @include transform(translate3d(0px,-50%,0px));
     opacity: 0;
  }
  to {
     @include transform(translate3d(0px,0%,0px));
     opacity: 1;
  }
}

@include keyframes(scaleDown) {
  from {
    @include transform(scale(0.8));
  }
  to {
    @include transform(scale(1.2));
  }
}

@include keyframes(scaleUp) {
  from {
    @include transform(scale(1.2));
  }
  to {
    @include transform(scale(0.8));
  }
}

@include keyframes(scaleBig) {
  from {
    @include transform(scale(1));
  }
  to {
    @include transform(scale(1.4));
  }
}

@include keyframes(scaleSmall) {
  from {
    @include transform(scale(1.4));
  }
  to {
    @include transform(scale(1));
  }
}

@include keyframes(blowUp) {
  0% {
    @include transform(scale(1));
  }
  99% {
    @include transform(scale(3));
  }
  100% {
    @include transform(scale(3));
  }
}

@include keyframes(rotatefive) {
  from {
    @include transform(scale(0) rotate(5deg));
  }
  to {
    @include transform(scale(1) rotate(5deg));
  }
}

@include keyframes(rotatenegfive) {
  from {
    @include transform(scale(0) rotate(-5deg));
  }
  to {
    @include transform(scale(1) rotate(-5deg));
  }
}

@include keyframes(rotateonefive) {
  from {
    @include transform(scale(0) rotate(15deg));
  }
  to {
    @include transform(scale(1) rotate(15deg));
  }
}

@include keyframes(rotateonenegfive) {
  from {
    @include transform(scale(0) rotate(-15deg));
  }
  to {
    @include transform(scale(1) rotate(-15deg));
  }
}

@include keyframes(rotatefourfive) {
  from {
    @include transform(scale(0) rotate(45deg));
  }
  to {
    @include transform(scale(1) rotate(45deg));
  }
}

@include keyframes(rotatenegfourfive) {
  from {
    @include transform(scale(0) rotate(-45deg));
  }
  to {
    @include transform(scale(1) rotate(-45deg));
  }
}

@include keyframes(rotateninezero) {
  from {
    @include transform(scale(0) rotate(90deg));
  }
  to {
    @include transform(scale(1) rotate(90deg));
  }
}

@include keyframes(rotatenegninezero) {
  from {
    @include transform(scale(0) rotate(-90deg));
  }
  to {
    @include transform(scale(1) rotate(-90deg));
  }
}
