@import "_color";
@import "_layout/grid";

// Site wide z-index
$hud: 3;
$overlay: 2;
$above: 1;
$infoBg: #262626;
$bloodRed: #FF524A;
$verticleMargin: 1rem;

@mixin font-size( $decimal-size, $keyword: null ) {
  $base-font-multiplier: 1;
  @if $keyword { font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px; }
  font-size: $decimal-size * 1rem;
}

@mixin font-bold() {
  font-family: 'gt_walsheim_trialmedium';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

@mixin font-regular() {
  font-family: 'gt_walsheim_triallight';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

@mixin rotatingTriangle ($width, $color, $rotation) {
    width: 0;
    height: 0;
    border-width: $width / 2;
    border-style: solid;
    border-color: transparent transparent $color transparent;
    @include rotate($rotation);
}

@mixin box-title() {
  display: inline-block;
  border: 0.20em solid;
  padding: 0.5em 1em 0.2em 1em; 
  @include font-bold();
}

@mixin link-style() {
  border-bottom: 1px dashed;
}

// Using @old-ie as a variable to create separate stylesheets for <IE9

@mixin image-replace($url, $extension:'png', $hidpi:false) {
  
  $full-url: "#{$url}.#{$extension}";
  
  @if $hidpi and not $old-ie {
    $full-url: "#{$url}_2x.#{$extension}";
    @include background-size(
      image-width($full-url)/2
      image-height($full-url)/2
    );
    height: image-height($full-url)/2;
    width: image-width($full-url)/2;
  } @else {
    height: image-height($full-url);
    width: image-width($full-url);
  }
  
  background-image: image-url($full-url);
  background-repeat: no-repeat;
  
}

@font-face {
    font-family: 'gt_walsheim_triallight';
    src: url('font/gt-walsheim-light-trial-webfont.eot');
    src: url('font/gt-walsheim-light-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gt-walsheim-light-trial-webfont.woff') format('woff'),
         url('font/gt-walsheim-light-trial-webfont.ttf') format('truetype'),
         url('font/gt-walsheim-light-trial-webfont.svg#gt_walsheim_triallight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_trialmedium';
    src: url('font/gt-walsheim-medium-trial-webfont.eot');
    src: url('font/gt-walsheim-medium-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gt-walsheim-medium-trial-webfont.woff') format('woff'),
         url('font/gt-walsheim-medium-trial-webfont.ttf') format('truetype'),
         url('font/gt-walsheim-medium-trial-webfont.svg#gt_walsheim_trialmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('font/icomoon.eot');
  src:url('font/icomoon.eot?#iefix') format('embedded-opentype'),
    url('font/icomoon.woff') format('woff'),
    url('font/icomoon.ttf') format('truetype'),
    url('font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ico-font() {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

@mixin black-and-white($value: 100%) {

  @if $value == 0% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    filter: none; /* IE6-9 */
    -webkit-filter: grayscale($value); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    filter: grayscale($value); 
    -webkit-filter: grayscale($value);
    -moz-filter: grayscale($value);
    -ms-filter: grayscale($value);
    -o-filter: grayscale($value); 
  } @else {
  //   /* Firefox 10+, Firefox on Android — svg filter*/
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale($value); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
    filter: grayscale($value); 
    -webkit-filter: grayscale($value);
    -moz-filter: grayscale($value);
    -ms-filter: grayscale($value);
    -o-filter: grayscale($value); 
  }
}

.icon {
  @include ico-font();
}

.icon:before {
  @include font-size(3);
  @include at-breakpoint($tablet)  {
    @include font-size(4);
  }
}

.icon-left-arrow:before {
  content: "\e001";
}
.icon-right-arrow:before {
  content: "\e002";
}

.icon-circle:before {
  @include font-size(0.75);
  @include at-breakpoint($tablet)  {
    @include font-size(1);
  }
  content: "\e02e";
}

.icon-info:before {
  content: "\e000";
}

.icon-close:before {
  content: "\e003";
}

.icon-contact:before {
  content: "\e004";
}

.icon-down-arrow-bare:before {
  @include font-size(2);
  content: "\e005";
}

.icon-up-arrow-bare:before {
  @include font-size(2);
  content: "\e006";
}

.icon-diamond:before {
  @include font-size(5);
  content: "\e007";
}

.icon-github:before {
  content: "\e008";
}
.icon-facebook:before {
  content: "\e009";
}
.icon-twitter:before {
  content: "\e00a";
}
.icon-pintrest:before {
  content: "\e00b";
}
.icon-instagram:before {
  content: "\e00c";
}
.icon-theloop:before {
  content: "\e00d";
}
.icon-linkdin:before {
  @include font-size(1.5);
  content: "\e00e";
}
.icon-behance:before {
  content: "\e00f";
}
.icon-dribbble:before {
  content: "\e010";
}
.icon-right-arrow-bare:before {
  content: "\e011";
}
.icon-left-arrow-bare:before {
  content: "\e012";
}

.icon-team:before {
  content: "\e013";
}

.icon-phone:before {
  content: "\e014";
  @include font-size(1);
  @include at-breakpoint($tablet) {
    @include font-size(1.4);
  }
}

.icon-pin:before {
  content: "\e015";
  @include font-size(1);
  @include at-breakpoint($tablet) {
    @include font-size(1.70);
  }
}

.icon-instagram-bare:before {
  content: "\e016";
}

.icon-mail:before {
  content: "\e017";
  @include font-size(1);
  @include at-breakpoint($tablet) {
    @include font-size(1.1);
  }
}

.icon-eye:before {
  content: "\e01a";
  @include font-size(1.5);
}

.icon-behance-full:before {
  content: "\e018";
}
.icon-dribbble-full:before {
  content: "\e019";
}
.icon-facebook-full:before {
  content: "\e01b";
}
.icon-github-full:before {
  content: "\e01c";
}
.icon-instagram-full:before {
  content: "\e01d";
}
.icon-pintrest-full:before {
  content: "\e01e";
}
.icon-theloop-full:before {
  content: "\e01f";
}
.icon-twitter-full:before {
  content: "\e020";
}

.icon-post:before {
  content: "\e021";
}

.icon-expand-arrow:before {
  content: "\e022";
}

.icon-trash-open:before {
  content: "\e023";
}
.icon-trash:before {
  content: "\e024";
}
