@import "_color";
@import "_layout/grid";

// Site wide z-index
$hud: 3;
$overlay: 2;
$above: 1;
$infoBg: #262626;

@mixin font-size( $decimal-size, $keyword: null ) {
  $base-font-multiplier: 1;
  @if $keyword { font-size: $keyword; }
  @else { font-size: $decimal-size * $base-font-multiplier * 16px; }
  font-size: $decimal-size * 1rem;
}

@mixin font-bold() {
  font-family: 'gt_walsheim_trialmedium';
  font-weight: normal;
  font-style: normal;
}

@mixin font-regular() {
  font-family: 'gt_walsheim_triallight';
  font-weight: normal;
  font-style: normal;
}

@mixin rotatingTriangle ($width, $color, $rotation) {
    width: 0;
    height: 0;
    border-width: $width / 2;
    border-style: solid;
    border-color: transparent transparent $color transparent;
    @include rotate($rotation);
}

@mixin box-title() {
  display: inline-block;
  border: 0.20em solid;
  padding: 0.5em 1em 0.2em 1em; 
}

// Using @old-ie as a variable to create separate stylesheets for <IE9

@mixin image-replace($url, $extension:'png', $hidpi:false) {
  
  $full-url: "#{$url}.#{$extension}";
  
  @if $hidpi and not $old-ie {
    $full-url: "#{$url}_2x.#{$extension}";
    @include background-size(
      image-width($full-url)/2
      image-height($full-url)/2
    );
    height: image-height($full-url)/2;
    width: image-width($full-url)/2;
  } @else {
    height: image-height($full-url);
    width: image-width($full-url);
  }
  
  background-image: image-url($full-url);
  background-repeat: no-repeat;
  
}

@font-face {
    font-family: 'gt_walsheim_triallight';
    src: url('font/gt-walsheim-light-trial-webfont.eot');
    src: url('font/gt-walsheim-light-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gt-walsheim-light-trial-webfont.woff') format('woff'),
         url('font/gt-walsheim-light-trial-webfont.ttf') format('truetype'),
         url('font/gt-walsheim-light-trial-webfont.svg#gt_walsheim_triallight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gt_walsheim_trialmedium';
    src: url('font/gt-walsheim-medium-trial-webfont.eot');
    src: url('font/gt-walsheim-medium-trial-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/gt-walsheim-medium-trial-webfont.woff') format('woff'),
         url('font/gt-walsheim-medium-trial-webfont.ttf') format('truetype'),
         url('font/gt-walsheim-medium-trial-webfont.svg#gt_walsheim_trialmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:url('font/icomoon.eot');
  src:url('font/icomoon.eot?#iefix') format('embedded-opentype'),
    url('font/icomoon.woff') format('woff'),
    url('font/icomoon.ttf') format('truetype'),
    url('font/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin ico-font() {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.icon {
  @include ico-font();
}

.icon:before {
  @include font-size(3);
  @include at-breakpoint($tablet)  {
    @include font-size(4);
  }
}

.icon-left-arrow:before {
  content: "\e001";
}
.icon-right-arrow:before {
  content: "\e002";
}

.icon-circle:before {
  @include font-size(0.75);
  @include at-breakpoint($tablet)  {
    @include font-size(1);
  }
  content: "\e02e";
}

.icon-info:before {
  content: "\e000";
}

.icon-close:before {
  content: "\e003";
}

.icon-contact:before {
  content: "\e004";
}

.icon-down-arrow-bare:before {
  @include font-size(2);
  content: "\e005";
}

.icon-up-arrow-bare:before {
  @include font-size(2);
  content: "\e006";
}

.icon-github:before {
  content: "\e008";
}
.icon-facebook:before {
  content: "\e009";
}
.icon-twitter:before {
  content: "\e00a";
}
.icon-pintrest:before {
  content: "\e00b";
}
.icon-instagram:before {
  content: "\e00c";
}
.icon-theloop:before {
  content: "\e00d";
}
.icon-linkdin:before {
  content: "\e00e";
}
.icon-behance:before {
  content: "\e00f";
}
.icon-dribbble:before {
  content: "\e010";
}

// .icon-diamond:before {
//
//   @include font-size(4.5);
//   content: "\e007";
// }

// @font-face {
//     font-family: 'gt_walsheim_triallight';
//     src: url('gt-walsheim-light-trial-webfont.eot');
//     src: url('gt-walsheim-light-trial-webfont.eot?#iefix') format('embedded-opentype'),
//          url('gt-walsheim-light-trial-webfont.woff') format('woff'),
//          url('gt-walsheim-light-trial-webfont.ttf') format('truetype'),
//          url('gt-walsheim-light-trial-webfont.svg#gt_walsheim_triallight') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'gt_walsheim_trialregular';
//     src: url('font/gt-walsheim-regular-trial-webfont.eot');
//     src: url('font/gt-walsheim-regular-trial-webfont.eot?#iefix') format('embedded-opentype'),
//          url('font/gt-walsheim-regular-trial-webfont.woff') format('woff'),
//          url('font/gt-walsheim-regular-trial-webfont.ttf') format('truetype'),
//          url('font/gt-walsheim-regular-trial-webfont.svg#gt_walsheim_trialregular') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: 'gt_walsheim_trialbold';
//     src: url('font/gt-walsheim-bold-trial-webfont.eot');
//     src: url('font/gt-walsheim-bold-trial-webfont.eot?#iefix') format('embedded-opentype'),
//          url('font/gt-walsheim-bold-trial-webfont.woff') format('woff'),
//          url('font/gt-walsheim-bold-trial-webfont.ttf') format('truetype'),
//          url('font/gt-walsheim-bold-trial-webfont.svg#gt_walsheim_trialbold') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }