@import "_mixins";

.placeholder {
  position: relative;
  .placeholder-bg {
    display: block;
    width:100%;
    opacity: 0.1;
  }
  .placeholder-alt {
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
  }
}