@import "_mixins";
@import "_layout/rem";

.placeholder {
  position: relative;
  .placeholder-bg {
    display: block;
    width:100%;
    @include hp-opacity(0.1);
  }
  .placeholder-alt {
    display: none;
    position: absolute;
    width: 100%;
    top: 40%;
    left: 0;
    @include at-breakpoint($tablet) {
      display: block;
    }
  }
}
.project-details {
  ul li.tag {
    list-style: none;
    display: none;
    @include rem(margin-right, 1rem);
    @include font-size(0.75);
    @include at-breakpoint($tablet) {
      display: inline-block;
    }
    @include at-breakpoint($bigscreen)  {
      @include font-size(1);
      @include rem(margin-right, 2rem);
    }
  }
  .scaleIn {
    visibility: visible;
  }
  .description {
    &:after {
      display: block;
      content: "↓";
      @include rem(line-height, 2.5rem);
      @include font-size(1);
    }
    span {
      font-size:0; display: inline; line-height:0;
    }
    span:before {
      display:inline;
      content: "..";
      @include font-size(1);
      @include rem(line-height, 1rem);
    }
    @include at-breakpoint($tablet) {
      &:after {
        content: none;
      }
      span {
        display: inline;
        font-size: inherit;
        line-height: inherit;
        &:before {
          content: none;
        }
      }
    }
  }
  .description.expand {
    &:after {
      display: none;
      content: none;
    }
    span {
      font-size: inherit; 
      line-height:inherit;
      &:before {
        content: none;
      }
    }
  }
}