@import '_mixins';

body.blood {
  p {
    @include font-regular();
  }
  p, a {
    @include font-size(1);
  }
  h2, h3 {
    @include font-size(1.5);
    a {
      @include font-bold();
      @include font-size(1.5);
    }
  }
  input, label {
    line-height: 1;
    @include font-size(1.5);
    @include font-bold();
    color: #fff;
  }
  @include at-breakpoint($bigscreen) {
    p, a {
      @include font-size(1.5);
    }
    h2, input, label {
      @include font-size(2.5);
      a {
        @include font-size(2.5);
      }
    }
  }
  section {
    color: #fff;
  }
  .mainmenu .menu-title {
    font-size: 1em;
  }
  .hud.top-hud .project-title {
    display: none;
  }
  .container {
    padding: 4rem 0;
  }
  .content {
    position:relative;
    z-index: 1;
  }
  .section-title {
    @include font-size(1);
    margin-bottom: 4rem;
    span {
      @include box-title();
    }
  }
  .team-name {
    p {
      @include font-size(1);
      @include font-bold();
    }
  }
}

section.info-crew {
  color: #fff;
  background: $bloodRed;
  p {
    margin-bottom: 4rem;
  }
  h2 {
    margin-bottom: 1rem;
  }
  .bloodbg {
    top: 0;
    height: 100%;
    display: block;
    margin: 0 auto;
    position: absolute;
    overflow: hidden;
    img {
      height: 100%;
      width: auto;
      position: relative;
      z-index: 0;
      @include at-breakpoint(13)  {
        height: auto;
        width: 100%;
        top: 0%;
        left: 0;
      }
    }
    span {
      display: block;
      background: $bloodRed;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: 0.5;
    }
  }
}

section.info-team {
  clear: both;
  background: #888888;
  .team-holder {
    overflow: hidden;
    position:relative;
    max-width: 49%;
    display: inline-block;
    padding-bottom: 3rem;
    @include at-breakpoint(6) {
      max-width: 30%;
      &:nth-child(2) {
        display: none;
      }
    }
    @include at-breakpoint(12) {
      max-width: 18.667%;
      &:nth-child(2) {
        display: inline-block;
      }
    }
    p,a {
      display: inline-block;
      color: inherit;
      margin:0;
    }
    a {
      position: relative;
      margin: 0;
      top: 0.3em;
      left: 0.2em;
    }
    .no-linkdin {
      margin-top: 0.5em;
    }
    .team-name-holder {
      position: relative;
      .team-name {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        .icon-linkdin {
          &:hover {
            color: #4F4F4F;
          }
        }
      }
    }
    .team-instagram {
      position:relative;
      overflow: hidden;
      background:#4F4F4F;
      .instagram-mask {
        position:relative;
        width: 101%;
        z-index: 1;
      }
      .instagram-pic {
        position:absolute;
        top:0;
        left: 0;
        height: 99%;
        width: 99%;
        z-index: 0;
        @include black-and-white($value: 100%);
      }
      .offSetInsty {
        left: 100%;
      }
    }
    .instagram-link {
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      z-index: 2;
      a {
        height: 100%;
        width: 100%;
        display: table;
        top: 0;
        left: 0;
        span {
          display: table-cell;
          vertical-align: middle;
          padding-bottom: 3rem;
        }
      }
    }
    &:hover {
      .instagram-pic {
        @include black-and-white(0%);
      }
    }
  }
  .smallfry {
    display: none;
    @include at-breakpoint($tablet) {
      display: inline-block;
    }
  }
}

section.info-services {
  background: #303030;
  img {
    width:50%;
    max-width: 19rem;
  }
}

section.info-service-details {
  background: #303030;
  h2 {
    margin-bottom: 4rem;
  }
  .info-service-description {
    text-align: left;
    @include span-columns(6,6);
    &:nth-child(2n) {
      @include omega;
    }
    p {
      margin-bottom: 1rem;
      display: none;
    }
    ul {
      margin-bottom: 4rem;
    }
    ul li {
      list-style: none;
    }
    hr {
      margin: 0 0 2em 0;
    }
    @include at-breakpoint($tablet) {
      p {
        display: block;
      }
    }
    @include at-breakpoint($bigscreen) {
      @include span-columns(3,6);
      padding-right: 2rem;
      ul li {
        @include font-size(1);
        margin: 0 0 0.5em 0;
      }
    }
  }
}

section.info-testimonials {
  background: #A73238;
  a {
    color:inherit;
  }
  .testimonial-holder {
    display: table;
    float:left;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: middle;
    }
    .testimonial {
      position:relative;
      overflow: hidden;
      .client-testimonial {
        position: absolute;
        visibility: hidden;
        top: 0;
        left: 100%;
        p {
          @include at-breakpoint($smallscreen) {
            padding: 0 2rem;
          }
        }
      }
      .current-testimonial {
        position: relative;
        top:0;
        left:0;
      }
    }
  }
}
section.info-testimonials {
  .loaded {
    .testimonial-holder {
      .testimonial {
        .current-testimonial {
          visibility: inherit;
        }
      }
    }
  }
}

section.info-newsletter { 
  background: #C03448;
  color: #fff;
  h2 {
    padding: 1rem 0 6rem 0;
    margin: 0;
  }
  a {
    font-size: inherit;
    color: inherit;
    @include link-style();
  }
  form {
    margin-bottom: 4rem;
    @include at-breakpoint($tablet) {
      margin-bottom: 6rem;
    }
  }
  #newsletter-subscribe-email {
    display: block;
    text-align: center;
    padding: 0 0 0.1em 0;
    font-family: inherit;
    border: none;
    background: inherit;
    margin: 1rem auto 0 auto;
    border-bottom: 1px solid;
    width: 290px;
    @include at-breakpoint($tablet) {
      width: 465px;
    }
  }
  #mc-embedded-subscribe {
    display: none;
  }
}

section.info-contact {
  background:#303030;
  color: #fff;
  a {
    color: inherit;
    @include link-style();
  }
  li {
    position: relative;
    display: inline-block;
    list-style: none;
    margin: 2rem 0 0 0;
    &:first-child {
      margin: 0;
    }
    @include at-breakpoint($tablet) {
      span {
        display: none;
      }
    }
    i {
      position: absolute;
      margin: -0.1em 0 0 -1em;
    }
  }
}  

section.info-map {
  background: #000;
  overflow: hidden;
  #map-area {
    height: 380px;
    margin-bottom: -25px;
  }
}
