body.feed article span.feed-img {
  display: inline-block;
  width: 250px;
  height: 250px;
  background-position: center;
  background-size: auto 135%;
  background-color:#666;
}

.paginate {
  display:none;
}
