@import "_mixins";

body.feed {
  .paginate {
    display:none;
  }

  img.landscape-image {
    position: absolute;
    width: auto;
    height: 100%;
    top:0;
  }

  img.portrait-image {
    position: absolute;
    width: 100%;
    height: auto;
    left:0;
  }

  a {
    // @include link-style();
  }

}

body.feed article {
  padding: 0;
  p {
    @include font-regular();
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .feed-img-holder {
    display: block;
    margin: 0 auto;
    line-height: 0;
    .feed-img {
      margin: 0;
      display: inline-block;
      position: relative;
      width:100%;
      padding-bottom: 100%;
      overflow: hidden;
    }
  }
  .post {
    vertical-align: middle;
    h2 {
      margin: 0 0 4rem 0;
      a {
        @include font-size(1.5);
        @include at-breakpoint($bigscreen) {
          @include font-size(2.5);
        }
      }
    }
  }
  .post-date {
    span.published {
      display: none;
    }
  }
  hr {
    margin: 8rem 0 0 0;
    padding: 0 0 8rem 0;
  }
  i {
    float: left;
  }
  i.icon-expand-arrow {
    float: none;
    display: block;
    cursor: pointer;
  }
}

body.feed article.gallery {
  p {
    margin: 2rem 0 0 0;
  }
  .feed-img-holder {
    width: 25%;
    display: inline-block;
    float: left;
    line-height: 0;
    padding: 0.25rem;
    box-sizing: border-box;
  }
  .latest-pins {
    a {
      @include font-size(1);
    }
  }
}

body.feed article.single {
  p {
    margin: 2rem 0 0 0;
  }
  .feed-img-holder {
    width: 50%;
    max-width: 400px;
  }
}

body.feed article.post {
  p {
    display: inline;
  }
  .more-text, .article-text {
    padding: 4rem 0;
  }
  .feed-img-holder {
    width: 75%;
    display: block;
    .feed-img {
      margin-bottom: 0.5rem;
    }
  }
  .more-content {
    display: none;
    margin: 0 15%;
  }
}

body.feed article:first-child {
  padding: 10rem 0 0 0;
  hr {
    display: none;
  }
}

body.feed {
  padding: 0 0 10rem 0;
}