@import "_mixins";

//Apply menu/info section stlyes to site

body.menu {
  overflow: hidden;
  nav * {
    color: #fff;
  }
  .hud li, .hud a  {
    opacity: 1;
  }
  .contact {
    .menu-title {
      display: none;
      @include at-breakpoint($tablet) {
        display: block;
      }
    }
  }
  .hud.top-hud .project-title {
    display: none; 
  }
}

.overlay {
  display: block;
  position:fixed;
  width: 100%;
  height: 100%;
  top: 200%;
  left: 0;
  z-index: $overlay;
  background: $infoBg;
  color: #fff;
}

.mainmenu, .contact {
  position: fixed;
}

.mainmenu {
  display: table;
  width: 100%;
  height: 100%;
  li {
    @include font-size(0.8, small)
  }
  ul {
    display: table-cell;
    vertical-align: middle;
    li {
      margin: 0rem;
      @include at-breakpoint($tablet) {
        margin: 0 0 1rem 0;
      }
      position: relative;
      list-style: none;
      a {
        @include font-size(2.5);
        margin: 0;
        @include at-breakpoint($tablet) {
          @include font-size(3.5);
          margin: 0 0 1rem 0;
        }
        @include at-breakpoint($bigscreen) {
          @include font-size(5);
        }
        @include font-bold();
        position: relative;
        color: #ffffff;
        span {
          opacity: 0.2;
        }
        span.meaning {
          display: none;
        }
      }
      a:hover {
        span {
          opacity: 1;
        }
      }
      a.active {
        pointer-events: none;
        cursor: default;
        span {
          opacity: 1;
        }
      }
    }
  }
  ol {
    display: none;
    width: 25rem;
    position: absolute;
    top: -2rem;
    left: 50%;
    margin-left: 1rem;
    font-size: 0.7rem;
    text-align: left;
    li {
      margin: 0;
      padding: 0;
      list-style: numbers;
      list-style-position: inside;
      list-style-type: decimal;
    }
  }
}

html.touch .mainmenu ul li a {
  span.meaning {
    position: relative;
    top: -0.8em;
    display: block;
    @include font-size(1);
    @include at-breakpoint($tablet) {
      @include font-size(1.5);
    }
  }
}

// html.no-touch .mainmenu ul li a {
//   &:hover {
//     span.meaning {
//       display: block;
//     }
//     span.helper {
//       display: none;
//     }
//   }
// }

.contact {
  display: block;
  width: 100%;
  height: 100%;
  top: 200%;
  .details{
    width: 100%;
    background: $infoBg;
    ul {
      margin-top: 2rem;
      @include at-breakpoint($tablet) {
        margin-top: 7rem;
      }
      @include at-breakpoint($bigscreen) {
        margin-top: 9rem;
      }
      li {
        @include font-size(1);
        @include at-breakpoint($tablet) {
          @include font-size(2);
          span {
            display: none;
          }
        }
        position: relative;
        display: inline-block;
        list-style: none;
        i {
          position: absolute;
          margin: -0.1em 0 0 -1em;
        }
      }
      a {
        @include link-style();
      }
      li, a, {
        color: #fff;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          display: inline;
        }
        a {
          border-bottom: none;
        }
      }
      hr {
        margin: 1rem 0;
        @include at-breakpoint($tablet) {
          margin: 2rem 0;
        }
      }
    }
  }
}

#map-canvas {
  display: block;
  position: absolute;
  height: 60%;
  width: 100%;
  left: 0;
  z-index: -1;
}

html.no-touch #map-canvas {
  bottom: -25px;
}