@import "_mixins";

.intro {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
}

.dragGame {
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  .scaleIn, .shakeinfinte, .dragToggle, .scaleSmall, .scaleOut {
    visibility: visible;
  }
  .drag-container {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .dragObject {
    display: block;
    position: fixed !important;
    top: 0;
    left: 0;
    cursor: move;
  }
  .hideLetter {
    border-bottom: 2px solid;
    h1 {
      visibility: hidden;
    }
  }
  h1 {
    display: block;
    @include font-size(6);
    @include at-breakpoint($tablet) {
      @include font-size(13);
    }
    @include at-breakpoint($bigscreen) {
      @include font-size(18);
    }
    line-height: 0.5em;
    color: inherit;
  }
  ul {
    display: table-cell;
    vertical-align: middle;
    li {
      display: inline-block;
      list-style: none;
      height: 50px;
      margin: 0 0.2em;
      @include at-breakpoint($tablet) {
        height: 110px;
      }
      @include at-breakpoint($bigscreen) {
        height: 155px;
      }
    }
  }
  hr {
    border: none;
    @include rem(margin, 1.5em 0);
    @include at-breakpoint($tablet) {
      @include rem(margin, 2.5em 0);
    }
    @include at-breakpoint($bigscreen) {
      @include rem(margin, 3.5em 0);
    }
  }
}

.trashGame {
  visibility: hidden;
  h1 {
    display: block;
    position: fixed;
    @include font-size(6);
    @include at-breakpoint($tablet) {
      @include font-size(13);
    }
    @include at-breakpoint($bigscreen) {
      @include font-size(20);
    }
    line-height: 1em;
    color: inherit;
    cursor:move;
  } 
  .scaleIn,.rotated {
    visibility: visible;
  }
  .icon-trash-open {
    visibility: hidden;
  }
  .bin-container{
    position:relative;
    display: block;
    width:100%;
    position: fixed;
    @include rem(bottom, 5rem);
  }
  .bin {
    p {
      display: none;
      position: absolute;
      top: 1.6em;
      right: -0.3em;
    }
    position:relative;
    display: inline-block;
    i:before {
      @include font-size(9);
    }
    .icon-trash-open {
      display: block;
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .hide-arrow {
      visibility: hidden;
    }
    .icon-down-arrow-bare {
      width: 100%;
      z-index: -1;
      display: block;
      position: absolute;
      &:before {
        @include font-size(3);
      }
    }
  }
  .bin.active {
    p {
      display: block;
    }
    .icon-down-arrow-bare {
      visibility: hidden;
    }
    .icon-trash-open {
      visibility: visible;
    }
    .icon-trash {
      visibility: hidden;
    }
  }
  .hangman {
    position: fixed;
    @include rem(bottom, 2rem);
    display: block;
    width:100%;
    li {
      @include rem(width, 1.5rem);
      display: inline-block;
      @include font-size(2);
      line-height: 1em;
      border-bottom: 2px solid;
      @include rem(margin-right, 1rem);
      .hidden {
        // text-indent: -9999px;
      }
    }
    li:nth-child(3) {
      @include rem(margin-right, 2rem);
    }
  }
}