@import "_mixins";
@import "_layout/grid";

nav {
  .hud {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: block;
    position: fixed;
    z-index: $hud;
    ul {
      margin: 0;
      padding: 0;
      line-height: 0;
      li {
        position: relative;
      }
    }
    li,a {
      margin: 0;
      padding: 0;
      color: inherit;
      @include font-size(1);
    }
    a {
      opacity: 0.9;
    }
  }
}

nav .top-hud {
  .navCounters {
    height: 100%;
    position: fixed;
    display: table;
    right: 1em;
    top: 0em;
    ul {
      display: table-cell;
      vertical-align: middle;
      background: transparent;
      li { 
        margin: 1.5em 0;
        a {
          display: inline-block;
          opacity: 0.5;
        }
        a.icon-down-arrow-bare {
          display: block;
          margin-top: 1rem;
        }
        a.icon-up-arrow-bare {
          display: none;
          margin-bottom: 1rem;
        }
        span.project-title {
          display: none;
        }
      }
      li.active {
        a {
          opacity: 1;
          display: inline-block;
          cursor: default;
        }
        a.icon-down-arrow-bare, a.icon-up-arrow-bare {
          display: block;
        }
      }
      li.mobile-hide {
        display: none;
      }
    }
  }
  
}

nav .bottom-hud {
  ul li {
    display: inline-block;
  }
}

body {
  .infoNav li a, .menuNav li a {
    display: none;
  }
  .indexNav li a {
    display: block;
  }
  .menu-title {
    display: none;
  }
}

// //Overlay Menu Styling

body.menu {
  .menu-title {
    display: block;
    position: absolute;
    top: 2rem;
    left: 0;
    width: 100%;
    z-index: $hud;
    @include font-bold();
    span {
      display: inline-block;
      border: 0.20rem solid;
      padding: 0.5rem 1rem 0.5rem 1rem;
    }
    @include at-breakpoint($bigscreen) {
      top: 4rem;
    }
  }
  .top-hud {
    display: none;
  }
  .bottom-hud {
    .infoNav li a, .indexNav li a {
      display: none;
    }
    .menuNav li a {
      display: block;
    }
  }
}

body.menu.opencontact {
  .bottom-hud {
    .menuNav li a, .indexNav li a {
      display: none;
    }
    .infoNav li a {
      display: block;
    }
  }
}

body.singleProject nav .top-hud, body.feed nav .top-hud {
  position: absolute;
  display: block;
  width: 100%;
  top: 1em;
  left: 0;
  @include at-breakpoint($bigscreen)  {
    top: 3em;
  }
  .project-title {
    position:relative;
    @include at-breakpoint($bigscreen) {
      display: block;
    }
    span {
      @include box-title();
    }
  }
}

.bottom-hud {
  bottom: 1rem;
  @include at-breakpoint($tablet)  {
    bottom: 2rem;
  }
}

html .arrow-tab {
  position: absolute;
  z-index: $hud;
  line-height: 1rem;
  top: 0rem;
  right: 1.5rem;
  white-space: nowrap;
  .canvasArrow {
    position: absolute;
    top: -0.7rem;
    right: 0;
    z-index: -1;
  }
  span.arrow-title {
    position:relative;
    right: 1.8em;
  }
  span.arrow-end {
    border-radius: 8px;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid;
    right: -15px;
  }
}

html.touch .top-hud ul li:nth-child(9) .arrow-tab {
  top: 2.2rem;
}

html {
  body.index {
    ul.filterMenu {
      text-align: right;
      position: fixed;
      display: none;
      @include at-breakpoint($tablet) {
        display: block;
      }
      top: 1rem;
      right: 1rem;
      z-index: 1;
      li {
        display: none;
        position:relative;
        right: 0.3rem;
        padding: 0 0 2rem 0;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        span {
          position: relative;
        }
      }
      li.eyeButton {
        display: block;
        position:static;
        margin: 0;
        padding: 0 0 1.2rem 0;
        opacity: 1;
        a {
          cursor: default;
        }
      }
      .active {
        opacity: 1;
        a {
          cursor: default;
        }
      }
    }
  }
}

// CHANGE FOR TOUCH DEBUG - DONE
html.no-touch {
  body.index {
    ul.filterMenu:hover {
      li {
        display: block;
      }
    }
  }
}

// CHANGE FOR TOUCH DEBUG - DONE
html.touch {
  body.index {
    ul.filterMenu {
      
    }
  }
}
