/*
//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"
*= require "article"
*= require "info"
*= require "blood"

//Grid
*= require "_layout/grid"
*= require "nav"
*/

@import "_mixins";
@import "_animations";
@import "_layout/grid";

body {
  @include font-bold();
  font-size: 100%;
  text-align: center;
  height: 100%;
}

html.touch {
  body.index {
    article {
      display: none;
    }
    article:first-child {
      display: block;
    }
  }
}

a {
  color: $link;
  text-decoration: none;
}

img {
  width:100%;
  height: auto;
}

strong {
  @include font-bold();
}

#{headings()}, p, li, a {
  margin:0 0 1rem 0;
  font-weight: normal;
}

menu, ol, ul {
  padding: 0;
  margin: 0;
}

.main {
  z-index: 0;
}

// .loaded {
//   visibility: visible !important;
// }

h1 {
  @include font-size(6, large);
}

h2 {
  @include font-size(2.5);
}

p {
  @include font-size(1, medium);
}

li{
  @include font-size(1, medium);
}

small {
  @include font-size(0.75);
  @include at-breakpoint($bigscreen)  {
    @include font-size(1);
  }
}

section, article {
  p, li, a {
    @include font-size(1);
    @include at-breakpoint($bigscreen)  {
      @include font-size(1.5);
    }
  }
}
