/*
//HTML5 Boilerplate + Normalize
*= require "_vendor/normalize.css"
*= require "_vendor/html5bp.css"
*= require "article"
*= require "info"
*= require "blood"

//Grid
*= require "_layout/grid"
*= require "nav"
*/

@import "_mixins";
@import "_animations";
@import "_layout/grid";

body {
  @include font-bold();
  font-size: 100%;
  text-align: center;
  height: 100%;
}

// CHANGE FOR TOUCH DEBUG - DONE
html.touch {
  body.index {
    article {
      display: none;
    }
  }
}

a {
  color: $link;
  text-decoration: none;
}

img {
  width:100%;
  height: auto;
}

strong {
  @include font-bold();
}

input {
  //stop iOS border rounding
  -webkit-appearance: none;
  border-radius: 0;
  @include placeholder {
    color: inherit;
  }
}

input:focus, textarea:focus {
    outline: none;
}

#{headings()}, p, li, a {
  margin:0 0 1rem 0;
  font-weight: normal;
}

menu, ol, ul {
  padding: 0;
  margin: 0;
}

.main {
  z-index: 0;
}

h1 {
  @include font-size(6, large);
}

h2 {
  @include font-size(1.5);
  @include at-breakpoint($bigscreen)  {
    @include font-size(2.5);
  }
}

p {
  @include font-size(1, medium);
}

li{
  @include font-size(1, medium);
}

small {
  @include font-size(0.75);
  @include at-breakpoint($bigscreen)  {
    @include font-size(1);
  }
}

section, article {
  p, li, a {
    @include font-size(1);
    @include at-breakpoint($bigscreen)  {
      @include font-size(1.5);
    }
  }
  .container, .project {
    position: relative;
    overflow: hidden;
    visibility: hidden;
  }
  .project-details {
    h2,p,a,ul {
      margin-bottom: 2rem;
      @include at-breakpoint($bigscreen)  {
        margin-bottom: 3rem;
      }
    }
    h2 {
      @include font-size(2.5);
      line-height: 1em;
      @include at-breakpoint($bigscreen)  {
        @include font-size(3.5);
      }
    }
  }
}

article {
  padding: 5rem 0 0 0;
  @include at-breakpoint($bigscreen)  {
    padding: 10rem 0 0 0;
  }
  div.project {
    p, a {
     @include font-regular();
    }
    a.webLink {
      display: inline-block;
      color: inherit;
      @include link-style();
    }
  }
}

.project-details, .placeholder {
  padding: 0 0 5rem 0;
  @include at-breakpoint($bigscreen)  {
    padding: 0 0 10rem 0;
  }
}

html body {
  ul.social-links {
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      position:relative;
    }
    a {
      color: inherit;
      border-bottom: none;
      i.icon-inverted {
        display: none;
      }
    }
    a:hover {
      i {
        display: none;
      }
      i.icon-inverted {
        display: block !important;
      }
    }
  }
}
