.details
  %ul
    %li
      %a{:href => 'mailto:hello@oneiota.com', :title => 'email us'} hello@oneiota.com
    %br
    %li <i class="icon icon-phone"></i>+61 (0)7 3191 9816
    %br
    %li <i class="icon icon-pin"></i>6/887 Ann St<br/>Fortitude Valley Q 4006</br>Brisbane Australia
    %hr
    %li= partial "social"