.hud.bottom-hud 
  %ulscaleIn
    %ul.indexNav
      %li.scaleIn
        %a.icon-info.icon.scaleUpHover{:href=>'#', :title => 'Information'}
    %ul.menuNav
      %li.scaleIn
        %a.icon-close.icon.scaleUpHover{:href=>'#', :title => 'Close this'}
    %ul.infoNav
      %li.scaleIn
        %a.icon-left-arrow.icon.scaleUpHover{:href=>'#', :title => 'Back'}
