.explore{:style => "color:#{yield_content(:foreground)};"}
  .exploreBg{:style => "background:#{yield_content(:background)};"}
  .exploreText
    %p We craft bespoke forward-thinking brand and digital solutions.
  .exploreArrow explore<br/><i class="icon icon-thick-down-arrow"></i>
  