.mainmenu
  %p.menu-title 
    %span one iota 

  %ul
    %li
      -if current_page.path == 'blood.html'
        %a{:href => 'blood', :class => 'menuItem active', :data => {:foreground => '#ffffff', :background => '#FF524A'}} <span class='helper'>blood</span> <span class='meaning'>info</span>
      -else
        %a{:href => 'blood', :class => 'menuItem', :data => {:foreground => '#ffffff', :background => '#FF524A'}} <span class='helper'>blood</span> <span class='meaning'>info</span>
    %li
      -if current_page.path == 'index.html'
        %a{:href => '/', :class => 'menuItem active', :data => {:foreground => '#ffffff', :background => '#EABCAD'}} <span class='helper'>sweat</span> <span class='meaning'>work</span>
      -else
        %a{:href => '/', :class => 'menuItem', :data => {:foreground => '#ffffff', :background => '#EABCAD'}} <span class='helper'>sweat</span> <span class='meaning'>work</span>
    %li
      -if current_page.path == 'tears.html'
        %a{:href => 'tears', :class => 'menuItem active', :data => {:foreground => '#ffffff', :background => '#92C2CB'}} <span class='helper'>tears</span> <span class='meaning'>rejects</span>
      -else
        %a{:href => 'tears', :class => 'menuItem', :data => {:foreground => '#ffffff', :background => '#92C2CB'}} <span class='helper'>tears</span> <span class='meaning'>rejects</span>

.contact
  %p.menu-title
    %span get in touch
  = partial "contactdetails"
  / #map-canvas

