.mainmenu
  %p.menu-title 
    %span one iota 

  %ul
    %li
      -if current_page.path == 'blood.html'
        %a{:href => settings.base_url+'blood', :class => 'menuItem active', :data => {:foreground => '#ffffff', :background => '#FF524A'}} <span class='helper'>info</span> <span class='meaning'>blood</span>
      -else
        %a{:href => settings.base_url+'blood', :class => 'menuItem', :data => {:foreground => '#ffffff', :background => '#FF524A'}} <span class='helper'>info</span> <span class='meaning'>blood</span>
    %li
      -if current_page.path == 'index.html'
        %a{:href => settings.base_url, :class => 'menuItem active', :data => {:foreground => '#ffffff', :background => '#EABCAD'}} <span class='helper'>work</span> <span class='meaning'>sweat</span>
      -else
        %a{:href => settings.base_url, :class => 'menuItem', :data => {:foreground => '#ffffff', :background => '#EABCAD'}} <span class='helper'>work</span> <span class='meaning'>sweat</span>
    %li
      -if current_page.path == 'feed/index.html'
        %a{:href => settings.base_url+'feed', :class => 'menuItem active', :data => {:foreground => '#ffffff', :background => '#92C2CB'}} <span class='helper'>feed</span> <span class='meaning'>tears</span>
      -else
        %a{:href => settings.base_url+'feed', :class => 'menuItem', :data => {:foreground => '#ffffff', :background => '#92C2CB'}} <span class='helper'>feed</span> <span class='meaning'>tears</span>

  / .contact-details
  /   %p.email
  /     %a{:href => 'mailto:hello@oneiota.com', :title => 'Get in touch'} hello@oneiota.com
  /   %p.phone <a href="tel:+61731919816">Bris: +61 (0)7 3191 9816</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:+610285402165">Syd: +61 (0)2 8540 2165</a>