.hud.top-hud 
  %p.mobile.project-title
    %span.scaleIn= yield_content(:title)

.hud.bottom-hud 
  %ul
    %ul.indexNav
      %li.scaleIn
        %a.icon-left-arrow.icon.scaleUpHover{:href=>'../', :title => 'Portfolio'}
      %li.scaleIn
        %a.icon-info.icon.scaleUpHover{:href=>'#', :title => 'Menu'}
    %ul.menuNav
      %li.scaleIn
        %a.icon-close.icon.scaleUpHover{:href=>'#', :title => 'Close this'}
    %ul.infoNav
      %li.scaleIn
        %a.icon-left-arrow.icon.scaleUpHover{:href=>'#', :title => 'Back'}
