.hud.top-hud 
  %p.mobile.project-title
    %span.scaleIn Feed Post

.hud.bottom-hud 
  %ulscaleIn
    %ul.indexNav
      %li.scaleIn
        %a.icon-left-arrow.icon{:href=>'/feed', :title => 'Feed'}
      %li.scaleIn
        %a.icon-info.icon{:href=>'#', :title => 'Information'}
    %ul.menuNav
      %li.scaleIn
        %a.icon-close.icon{:href=>'#', :title => 'Close this'}
    %ul.infoNav
      %li.scaleIn
        %a.icon-left-arrow.icon{:href=>'#', :title => 'Back'}
