.hud.top-hud 
  %p.mobile.project-title
    %span.scaleIn Feed Post

.hud.bottom-hud 
  %ul
    %ul.indexNav
      %li
        %a.icon-left-arrow.icon{:href=>'/feed', :title => 'Feed'}
      %li
        %a.icon-info.icon{:href=>'#', :title => 'Information'}
    %ul.menuNav
      %li
        %a.icon-close.icon{:href=>'#', :title => 'Close this'}
      / %li
      /   %a.icon-contact.icon{:href=>'#', :title => 'Get in touch'}
    %ul.infoNav
      %li
        %a.icon-left-arrow.icon{:href=>'#', :title => 'Back'}
