.hud.top-hud 
  %p.mobile.project-title
    %span.scaleIn= yield_content(:title)

.hud.bottom-hud 
  %ul
    %ul.indexNav
      %li.scaleIn
        /-link_to 'Portfolio', 'home', :class=>'.icon-left-arrow .icon', :title=>'Portfolio'
        %a.icon-left-arrow.icon{:href=>'../', :title => 'Portfolio'}
      %li.scaleIn
        %a.icon-info.icon{:href=>'#', :title => 'Information'}
    %ul.menuNav
      %li.scaleIn
        %a.icon-close.icon{:href=>'#', :title => 'Close this'}
      / %li
      /   %a.icon-contact.icon{:href=>'#', :title => 'Get in touch'}
    %ul.infoNav
      %li.scaleIn
        %a.icon-left-arrow.icon{:href=>'#', :title => 'Back'}
