%ul.social-links
  %li
    %a{:href=>'http://twitter.com/ONEIOTA_', :title => '@oneiota_', :target=>'_blank'}
      %i.icon-twitter.icon
      %i.icon-twitter-full.icon-inverted.icon
  %li
    %a{:href=>'http://instagram.com/oneiota_/', :title => '@oneiota_', :target=>'_blank'}
      %i.icon-instagram.icon
      %i.icon-instagram-full.icon-inverted.icon
  %li
    %a{:href=>'http://facebook.com/pages/ONE-IOTA-STUDIO/103749066322532', :title => '@oneiotastudio', :target=>'_blank'}
      %i.icon-facebook.icon
      %i.icon-facebook-full.icon-inverted.icon
  %li
    %a{:href=>'http://pinterest.com/oneiota/', :title => '@oneiota', :target=>'_blank'}
      %i.icon-pintrest.icon
      %i.icon-pintrest-full.icon-inverted.icon
  %li
    %a{:href=>'http://dribbble.com/oneiota', :title => '@oneiota', :target=>'_blank'}
      %i.icon-dribbble.icon
      %i.icon-dribbble-full.icon-inverted.icon
  %li
    %a{:href=>'http://www.behance.net/oneiota', :title => '@oneiota', :target=>'_blank'}
      %i.icon-behance.icon
      %i.icon-behance-full.icon-inverted.icon
  %li
    %a{:href=>'http://www.theloop.com.au/oneiota/overview', :title => '@oneiota', :target=>'_blank'}
      %i.icon-theloop.icon
      %i.icon-theloop-full.icon-inverted.icon
  %li
    %a{:href=>'http://github.com/oneiota', :title => '@oneiota', :target=>'_blank'}
      %i.icon-github.icon
      %i.icon-github-full.icon-inverted.icon