%ul.social-links
  %li
    %a{:href=>'twitter.com/ONEIOTA_', :title => '@oneiota_'}
      %i.icon-twitter.icon
      %i.icon-twitter-full.icon-inverted.icon
  %li
    %a{:href=>'instagram.com/oneiota_/', :title => '@oneiota_'}
      %i.icon-instagram.icon
      %i.icon-instagram-full.icon-inverted.icon
  %li
    %a{:href=>'facebook.com/pages/ONE-IOTA-STUDIO/103749066322532', :title => '@oneiotastudio'}
      %i.icon-facebook.icon
      %i.icon-facebook-full.icon-inverted.icon
  %li
    %a{:href=>'pinterest.com/oneiota/', :title => '@oneiota'}
      %i.icon-pintrest.icon
      %i.icon-pintrest-full.icon-inverted.icon
  %li
    %a{:href=>'#', :title => '@oneiota'}
      %i.icon-dribbble.icon
      %i.icon-dribbble-full.icon-inverted.icon
  %li
    %a{:href=>'#', :title => '@oneiota'}
      %i.icon-behance.icon
      %i.icon-behance-full.icon-inverted.icon
  %li
    %a{:href=>'#', :title => '@oneiota'}
      %i.icon-theloop.icon
      %i.icon-theloop-full.icon-inverted.icon
  %li
    %a{:href=>'#', :title => '@oneiota'}
      %i.icon-github.icon
      %i.icon-github-full.icon-inverted.icon