%ul.social-links
  %li
    %a.icon-twitter.icon{:href=>'twitter.com/ONEIOTA_', :title => '@oneiota_'}
  %li
    %a.icon-instagram.icon{:href=>'instagram.com/oneiota_/', :title => '@oneiota_'}
  %li
    %a.icon-facebook.icon{:href=>'facebook.com/pages/ONE-IOTA-STUDIO/103749066322532', :title => '@oneiotastudio'}
  %li
    %a.icon-pintrest.icon{:href=>'pinterest.com/oneiota/', :title => '@oneiota'}
  %li
    %a.icon-dribbble.icon{:href=>'#', :title => '@oneiota'}
  %li
    %a.icon-behance.icon{:href=>'#', :title => '@oneiota'}
  %li
    %a.icon-theloop.icon{:href=>'#', :title => '@oneiota'}
  %li
    %a.icon-github.icon{:href=>'#', :title => '@oneiota'}