%script{:type => "text/javascript"}
  yepnope({test: Modernizr.history, nope: '//cdnjs.cloudflare.com/ajax/libs/history.js/1.8/native.history.min.js' ,callback: function (url, result, key) {alert('script.js has loaded!');}});