/Info page
- content_for(:title, 'we are iota')

%section.info-crew-holder
  .info-crew

    %div
      %img{:src => ""}
      %span.icon-circle.icon.info-placeholder
    
    %div
      %img{:src => ""}
      %span.icon-circle.icon.info-placeholder
    
    %div
      %img{:src => ""}
      %span.icon-circle.icon.info-placeholder

    %h2 We’re a digital design & development shop focused on user experience. We’re a small team of designers, thinkers, strategizers, do-ers & storytellers packing a lot of experience across disciplines. Staying small keeps our hands dirty, our overhead lean, our turnarounds fast, and our clients happy.

%section.info-services-holder
  .info-services
    %ul
      %li
      %li
      %li
      %li
      %li
